services:
  api:
    image: blog-image
    build: .
    expose: 
      - "3000"
    env_file:
      - .env
    
  nginx: 
    image: nginx:alpine
    ports: 
      - "80:80"
    volumes: 
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro  
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - api